<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="MovieBox"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity
            android:name=".activities.WelcomeSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.PreviewMovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ToolbarStyle" />
        <activity
            android:name=".activities.SingInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NewStyle" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".receivers.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

</manifest>